@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ContentModels.NavigationGroup>>

@if (Model.Content.ChildLinks != null && Model.Content.ChildLinks.Any())
{

    <li class="nav-item dropdown d-flex align-items-center">
        <a class="nav-link dropdown-toggle"
           href="#"
           id="navbarDropdown_@Model.Content.Key.ToString("N")"
           role="button"
           data-bs-toggle="dropdown"
           aria-expanded="false">
            @if (Model.Content.Link != null)
            {
                @Model.Content.Link.Name
            }
            else
            {

                @Model.Content.Title
            }
        </a>

        <ul class="dropdown-menu" aria-labelledby="navbarDropdown_@Model.Content.Key.ToString("N")">
            @foreach (var childLink in Model.Content.ChildLinks)
            {
                <li>
                    <a class="dropdown-item" target="@childLink.Target" href="@childLink.Url">@childLink.Name</a>
                </li>
            }
        </ul>
    </li>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var dropdownElements = document.querySelectorAll('.dropdown-toggle');
            dropdownElements.forEach(function(dropdown) {
                dropdown.addEventListener('click', function(e) {
                    e.preventDefault();
                    var menu = this.nextElementSibling;
                    menu.classList.toggle('show');
                });
            });
        });
    </script>
}
else if (Model.Content.Link != null)
{
    @* Caso não tenha filhos, é um link normal *@
    <li class="nav-item d-flex align-items-center">
        <a class="nav-link" target="@Model.Content.Link.Target" href="@Model.Content.Link.Url">@Model.Content.Link.Name</a>
    </li>
}